/*Color List:
- light blue = 00AEEF;
- dark blue = 1C75BC
- green = 8DC63F
- dark green = 009444
- orange = F7941E
- dark orange = F15A29
- brown = 594a42; */

/***************************
****************************
Reset Styles
****************************
***************************/
@import 'normalize.css';
html { box-sizing: border-box; }
*, *:before, *:after { box-sizing: inherit; }


/***************************
****************************
Base Styles
****************************
***************************/
body {
    color: #414042;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
}
h1, h2, h3 {
    font-weight: bold;
}
a {
    color: #8dc63f;
    font-weight: bold;
}
a:hover {
    text-decoration: underline;
}
/***************************
****************************
Layout Styles
****************************
***************************/
.container {
    border: 1px solid red;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    max-width: 1170px;
}

.row {
    margin-right: -15px;
    margin-left: -15px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

body > * { border: 1px dotted greenyellow; }

[class*='col-'] {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
}

/* Media Query excludes extra small devices and includes small and above */
@media (min-width: 48em) {
    [class*='col-'] {
        float: left;
    }
    .col-1-3 {
        width: 33.3333%;
    }
    .col-2-3 {
        width: 66.6666%;
    }
}

/***************************
****************************
Module Styles
****************************
***************************/


/***************************
****************************
Theme Styles
****************************
***************************/
.bg-primary { background: #F7941E } /* orange */
.bg-secondary { background: #00AEEF } /* blue */
.bg-tertiary { background: #8DC63F } /* green */