body {
    margin: 0;
}
/* ensure flex-container is always at least as tall as the viewport.
   Keeps footer from coming up*/
.fc {
    display: flex;
    flex-flow: row wrap;
    min-height: 100vh;
    /*
        flex-flow: column wrap;
        max-width: 100vw;
        max-height: 100vh;
        min-height: 100vh;
        min-width: 100vw;
    */
}

.fc > * {
    flex: 1;
    margin: 10px;
    padding: 20px;
    background-color: lightgray;
    border-radius: 10px;
    min-width: 200px;
    /*max-width: calc(100vw - 260px);*/
}

.fc header, .fc footer {
    flex: 0 1 100vw;
    /*
        flex: 0 1 100vh;
        width:25ch;
    */
}