h2 {
	text-align: center;
}

div {
	background-color: #0000CC;
	color: #AABBbB;
	box-sizing: border-box;
	width: 20%;
	display: inline-block;
	height: 200px;
	margin: 5px;
	border: 20px solid #000000;
	padding: 15px;
	margin: 0 auto;
	margin-top: 50px;
}