span {
	display: inline-block;
	height: 50px;
	width: 75px;
	background: #00ff00;
}

div {
	height:100px;
	width:45%;
	background: #00ffff;
	visibility:visible;
}

p {
	width:200px;
	height:100px;
	background: #ff00ff;
}